@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
* {
  font-family: "Dosis", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h2 {
  margin: auto;
  padding: 1rem;
}

.search-button {
  border: 1px solid grey;
  width: 2.4rem;
  height: 2.4rem;
  background-color: white;
  border-radius: 0px 4px 4px 0px;
  padding: 2px;
  transition: 0.2s;
}

.search-button:hover {
  background: linear-gradient(
    140deg,
    rgb(105, 129, 224) 0%,
    rgb(205, 99, 247) 100%
  );
  padding: 4px;
}
